[submodule ".vim/bundle/glib.vim"]
	path = .vim/bundle/glib.vim
	url = git://github.com/vim-scripts/glib.vim.git
[submodule ".vim/bundle/molakai"]
	path = .vim/bundle/molakai
	url = git://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule ".vim/bundle/vim-vividchalk"]
	path = .vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule ".config/awesome/shifty"]
	path = .config/awesome/shifty
	url = git://github.com/bioe007/awesome-shifty.git
[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vim-numbers"]
	path = .vim/bundle/vim-numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
