! urxvt
URxvt.buffered: true
URxvt.cursorBlink: true
URxvt.underlineColor: darkgreen
!URxvt.font:  xft:Source Code Pro for Powerline:size=12
URxvt.font:  xft:Source Code Pro for Powerline:size=11:style=Light
URxvt.depth: 32
URxvt.borderless: 1
URxvt.scrollBar: false
URxvt.loginShell: true
Urxvt.secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt.saveLines: 5000
URxvt.termName: rxvt-unicode
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

Xft.lcdfilter: lcdlight
Xft.hintstyle: hintsslight

#include "/home/patrick/.config/colors/current"

