! urxvt
URxvt.buffered: true
URxvt.cursorBlink: true
URxvt.underlineColor: yellow
#URxvt.font:  xft:Source Code Pro for Powerline:size=12
URxvt.font:  xft:Source Code Pro for Powerline:size=11:style=Light
!URxvt*font:  xft:Terminus:size=10:antialias=true
!URxvt*font:  xft:Monofur for Powerline:size=12:antialias=true
!URxvt*font: -*-terminus-medium-*-*-*-*-140-*-*-*-*-iso8859-1
!URxvt*font: xft:Consolas:size=11, xft:Inconsolata for Powerline
URxvt.depth: 32
URxvt.borderless: 1
URxvt.scrollBar: false
URxvt.loginShell: true
Urxvt.secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt.saveLines: 5000
URxvt.termName: rxvt-unicode
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

Xft.lcdfilter: lcddefault
Xft.hintstyle: hintsslight

#include "/home/patrick/.config/colors/current"

